@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 97%;
    --foreground: 48 10% 10%;
    --card: 48 83% 97%;
    --card-foreground: 48 10% 10%;
    --popover: 48 83% 97%;
    --popover-foreground: 48 10% 10%;
    --primary: 25 95% 53%;
    --primary-foreground: 48 10% 10%;
    --secondary: 48 10% 90%;
    --secondary-foreground: 48 10% 10%;
    --muted: 48 10% 80%;
    --muted-foreground: 48 10% 40%;
    --accent: 48 10% 85%;
    --accent-foreground: 48 10% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 10% 80%;
    --input: 48 10% 80%;
    --ring: 25 95% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 48 10% 10%;
    --foreground: 48 83% 97%;
    --card: 48 10% 10%;
    --card-foreground: 48 83% 97%;
    --popover: 48 10% 10%;
    --popover-foreground: 48 83% 97%;
    --primary: 25 95% 53%;
    --primary-foreground: 48 10% 10%;
    --secondary: 48 10% 20%;
    --secondary-foreground: 48 83% 97%;
    --muted: 48 10% 25%;
    --muted-foreground: 48 83% 90%;
    --accent: 48 10% 25%;
    --accent-foreground: 48 83% 97%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 10% 25%;
    --input: 48 10% 25%;
    --ring: 25 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
